<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.min.js"></script>
    <title>Polar Bear</title>
  </head>
  <body>
    <div class="container">
      <header class="page-header">
        <h1>The Mighty Hunter</h1>
      </header>
      <div class="row-fluid">
        <div class="col-md-5 col-md-offset-1">
          <div><img class="img-polaroid" src="img/Polar_Bear,_Churchill,_Manitoba,_Canada..jpg" alt="Polar Bear" height="322" width="325"></div>
          <p>Copyright to Teresa. Link to <a href="http://creativecommons.org/licenses/by/2.0/legalcode">license</a>.</p>
        </div>
        <div class="col-md-5">
          <p class="lead">Polar bears are fierce, huge and powerful! With their pelt as white as snow they blend into the enviornment as they search for food. They burrow into the ice to make little caves to hide and protect their young. Just like their cousins, don't mess with a mama polar bear. You may not like the results!</p>
        </div>
      </div>

    <h2>They are...</h2>
    <h1><strong>THE PROTECTORS</strong></h1>
    </div>
  </body>
</html>