<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.min.js"></script>
    <title>White Tiger</title>
  </head>
  <body>
    <div class="container">
      <header class="page-header">
        <h1>The Dangerous Loner</h1>
      </header>
      <div class="row-fluid">
        <div class="col-md-5 col-md-offset-1">
          <div><img class="img-polaroid" src="img/White_tiger_III_(13945305222).jpg" alt="White Tiger" height="205" width="325"></div>
    
          <p>Copyright to Chi King. Link to <a href="http://creativecommons.org/licenses/by/2.0/legalcode">license</a>.</p>
        </div>
        <div class="col-md-5">
          <p class="lead">With tigers being as territorial as they are, they rarely allow other tigers to roam on their lands. These graceful creatures can look harmless right before they leap to strike. Don't let that cat nap face fool you, they are always aware of their surroundings.</p>
        </div>
      </div>

      <h2>They are...</h2>
      <h1><strong>THE KILLER</strong></h1>
    </div>
  </body>
</html>