<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Wolf</title>
  </head>
  <body>
    <header>
      <h1>The Pack Master</h1>
    </header>
    <div class="content">
      <div class="image"><img src="images/Polarwolf004.jpg" alt="White wolf" height="437" width="650"></div>
    
    <p class="license">Copyright to Ralf Schmode. Link to <a href="http://creativecommons.org/licenses/by/2.0/legalcode">license</a>.</p>

    <p>Where there is one wolf... there are always more. They work together to hunt and protect each other. Typically a wolf does not stay a lone wolf for long as they find a mate and start their own pack. These amazing creatures have been often been hunted and misunderstood. Though they are still few in number, wolves still are magnificent creatures.</p>

	  <h2>They are...</h2>
	  <h1><strong>THE ALPHAS</strong></h1>
    </div>
  </body>
</html>