<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Not Too Bad On the Eyes!</title>
  </head>
  <body>
    <header>
      <h1>BEWARE THE WUMPUS!</h1>
    </header>
    <div class="content">
      <p class="wumpus"><img src="images/wumpus-wins.jpg" alt="Wumpus killed you" height="320" width="600"></p>
    
    <p>Credit goes to Dr. Owen's CSE 477 Step2 for the image. <strong>This is the evil we are fighting in our class!</strong></p>

    <blockquote>"Technology is nothing. What's important is that you have a faith in people, that they're basically good and smart, and if you give them tools, they'll do wonderful things with them." - Steve Jobs</blockquote>
	  <h3>Ready for the tool that will make the world even smarter and gooder?</h3>
	  <h2>It's coming. It's...</h2>
	  <h1><strong>Wumpus</strong></h1>
    </div>
  </body>
</html>