<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.min.js"></script>
    <title>Wolf</title>
  </head>
  <body>
    <div class="container">
      <header class="page-header">
        <h1>The Pack Master</h1>
      </header>
      <div class="row-fluid">
        <div class="col-md-5 col-md-offset-1">
          <div><img class="img-polaroid" src="img/Polarwolf004.jpg" alt="White wolf" height="218" width="325"></div>
          <p>Copyright to Ralf Schmode. Link to <a href="http://creativecommons.org/licenses/by/2.0/legalcode">license</a>.</p>
        </div>
        <div class="col-md-5">
          <p class="lead">Where there is one wolf... there are always more. They work together to hunt and protect each other. Typically a wolf does not stay a lone wolf for long as they find a mate and start their own pack. These amazing creatures have been often been hunted and misunderstood. Though they are still few in number, wolves still are magnificent creatures.</p>
        </div>
      </div>

	  <h2>They are...</h2>
	  <h1><strong>THE ALPHAS</strong></h1>
    </div>
  </body>
</html>