<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Title</title>
  </head>
  <body>
    <header>
      <h1>Heading 1</h1>
    </header>
    <div class="content">
      <p><img src="images/" alt="" height="" width=""></p>
    
    <p>paragraph</p>

    <blockquote>"Technology is nothing. What's important is that you have a faith in people, that they're basically good and smart, and if you give them tools, they'll do wonderful things with them." - Steve Jobs</blockquote>
	  <h3>Ready for the tool that will make the world even smarter and gooder?</h3>
	  <h2>It's coming. It's...</h2>
	  <h1><strong>something</strong></h1>
    </div>
  </body>
</html>